<h2>Жители</h2>
<hr>
<div class="main-div">
  <div class="form-group">
    <table class="search">
      <tr>
        <td class="search-header">Поиск</td>
        <td class="search-criteria">
          <ng-select [searchable]="false" [items]="criteria" [hideSelected]="true" [(ngModel)]="searchCriteria" placeholder="Выберите критерий"
                     (change)="onChangeSelectCriteria($event)" required>
          </ng-select>
        </td>
        <td class="search-text">
          <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="findTenants(searchText)"/>
        </td>
        <td class="search-button">
          <button class="btn btn-danger" (click)="loadTenants()">Сброс</button>
        </td>
        <td align="right">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTenantModal"
                  (click)="onCreate()">
            ➕ Добавить
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div align="center" class="main-table">
    <table class="table table-bordered table-hover">
      <thead class="table-light">
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Номер телефона</th>
        <th scope="col">Адрес</th>
        <th scope="col" class="button-column"></th>
        <th scope="col" class="button-column"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tenant of tenants">
        <td id="col1">{{tenant?.fio}}</td>
        <td id="col2">{{tenant?.telNum}}</td>
        <td id="col4">р. {{tenant?.house?.district?.districtName}}, ул.{{tenant?.house?.houseId.street}}, д.{{tenant?.house?.houseId.houseNumber}}, кв. {{tenant?.apartmentNumber}}</td>
        <td id="col5">
          <button type="button" class="btn btn-warning button-center change-btn" data-bs-toggle="modal" data-bs-target="#addTenantModal"
                  (click)="onEdit(tenant)">
            ✏
          </button>
        </td>
        <td id="col6">
          <button type="button" class="btn btn-danger change-btn" (click)="deleteTenant(tenant.tenantId!)">
            🗑
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="addTenantModal" tabindex="-1" role="dialog" aria-labelledby="addTenantModal"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{isUpdate ? 'Изменить' : 'Добавить'}} запись</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <form name="addForm">
            <div class="form-group">
              <label for="add-fio" class="col-form-label">ФИО:</label>
              <input [(ngModel)]="selectedTenant.fio" name="fio" type="text" class="form-control"
                     id="add-fio" #fio="ngModel" required />
              <div [hidden]="fio.valid || fio.untouched" class="alert alert-danger">
                Некорректное ФИО
              </div>
            </div>
            <div class="form-group">
              <label for="add-telNum" class="col-form-label">Номер телефона:</label>
              <input [(ngModel)]="selectedTenant.telNum" name="telNum" type="tel" maxlength="12" class="form-control"
                     id="add-telNum" #telNum="ngModel" required />
              <div [hidden]="telNum.valid || telNum.untouched" class="alert alert-danger">
                Некорректный номер телефона. Формат номера: +7xxxxxxxxxx
              </div>
            </div>
            <div class="form-group">
              <label for="add-apartmentNumber" class="col-form-label">Номер квартиры:</label>
              <input [(ngModel)]="selectedTenant.apartmentNumber" name="apartmentNumber" type="number" class="form-control"
                     id="add-apartmentNumber" #apartmentNumber="ngModel" required />
              <div [hidden]="apartmentNumber.valid || apartmentNumber.untouched" class="alert alert-danger">
                Некорректный номер квартиры
              </div>
            </div>
            <div class="form-group">
              <label>Дом:</label>
              <ng-select [searchable]="false" [hideSelected]="true" placeholder="Выберите дом"
                         (change)="onChangeSelectHouse($event)">
                <ng-option *ngFor="let house of houses" [value]="house">
                  р. {{house?.district?.districtName}}, ул. {{house?.houseId!.street}}, д. {{house?.houseId!.houseNumber}}
                </ng-option>
              </ng-select></div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="isUpdate ? updateTenant() : addTenant()"
                  data-bs-dismiss="modal"
                  [disabled]="apartmentNumber.invalid || telNum.invalid || fio.invalid || !isHouseChanged">Сохранить
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

        </div>
      </div>
    </div>
  </div>
</div>
